a {
    text-decoration: none;
}

a h4 {
    color: #2cc185;
}

.parameters {
    padding: 0 2px;
}

.pull-right {
    color: #343a40;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #2cc185;
    border-color: #2cc185;
}

.list-group-item.active h4 {
    color: white;
}