<button mat-icon-button class="close-button" mat-dialog-close>
    <mat-icon class="close-icon">close</mat-icon>
</button>
<h2 mat-dialog-title>Mock File Generator</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="data.status === 200 && data.ok === true">
        The file has been generated successfully. Would you like to download it?
    </div>
    <div class="help-block" *ngIf="data.status !== 200 || data.ok !== true">
        {{ 'app.errors.dialogFileGeneration' | translate: {status: data.status} }}
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial (click)="onDownloadFile()">Download</button>
</mat-dialog-actions>