<div class="row">
    <div class="col-xs-12 d-flex w-100 justify-content-center">
        <img class="img-fluid" src="../../assets/images/404_2.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 d-flex w-100 justify-content-center error-message">
        {{ 'app.errors.errorPage' | translate }}
    </div>
</div>
<div class="row mt-3">
    <div class="col-xs-12 d-flex w-100 justify-content-center">
        <button mat-raised-button type="button" (click)="backToHomePage()">Back to Home Page</button>
    </div>
</div>



